body {
 	background-color: black; 
 	color: #5C57B3; 
	font-family: "Neverwinter";
	font-size: 40px;
	margin-top: 30px;
	margin-left: 20px;
	overflow: hidden;

 	background-image: url("../images/nwn11.jpg");
	background-repeat: no-repeat;
 	background-position: right;
 	background-attachment: fixed;
 	background-size: 76%;

}



h1 {
  
	-webkit-text-stroke: 1px white;
  	color: #5C57B3;

	font-family: "Neverwinter";
	font-size: 70px; 
	left: 50%;
  
  	margin-top: 40px; 
  	margin-bottom: 70px; 
}

 


.boton {

	font-size: 25px;
  	font-family: "Neverwinter";
	
}


div {
  position: absolute;
  left: 9%;
  transform: translate(-50%, 50%);
  width: 200px;
  height: 620px;
}


table {
        border-collapse: collapse;
         margin-left:70px;
	background-color:black;
      }
      td {
        


        padding: 15px;
        text-align: center;
      }


.regresar{

font-size: 25px;
}


.idb{

font-size: 40px;
}


a {
  color: #5C57B3; /* cambia el color del texto del enlace */
  text-decoration: none; /* quita la línea de abajo del texto del enlace */
}

a:visited {
  color: #5C57B3; /* cambia el color del texto del enlace visitado */
}

a:hover {
  color: #741C29; /* cambia el color del texto del enlace cuando el cursor se mueve sobre él */
}

a:active {
  color: #741C29; /* cambia el color del texto del enlace cuando se hace clic en él */
}

