body {
 	background-color: black; 
 	color: #5C57B3; 
	font-family: "Neverwinter";
	font-size: 25px;
	margin-top: 20px;

	background-image: url("../images/nwn6.jpg");
	background-repeat: no-repeat;
 	
 	background-attachment: fixed;
 	background-size: 100%;
background-position: center bottom;
  

 	
	

}



h1 {
  
-webkit-text-stroke: 1px white;
  color: #5C57B3;
text-align:center;
font-family: "Neverwinter";
font-size: 73px; 
 
  margin-top: 5px; 
	
  margin-bottom: 20px; 
}




   table {
        border-collapse: collapse;
         margin: auto;
	background-color:black;
      }
      td {
        border: 1px solid white;


        padding: 15px;
        text-align: center;
      }
      .tabla1 {
        
width:19%;
   
      }
      .tabla2 {
        margin-top:-1px;
	width:19%;
      }
      
      .tabla3 {
  
	margin-top:-1px;
	width:19%;
}

.tabla4 {
        margin-top:-1px;
width:19%;
      }

.titulo {
       font-size: 30px;


-webkit-text-stroke: 0.4px white;
      }


a {
  color: #5C57B3; /* cambia el color del texto del enlace */
  text-decoration: none; /* quita la línea de abajo del texto del enlace */
}

a:visited {
  color: #5C57B3; /* cambia el color del texto del enlace visitado */
}

a:hover {
  color: #741C29; /* cambia el color del texto del enlace cuando el cursor se mueve sobre él */
}

a:active {
  color: #741C29; /* cambia el color del texto del enlace cuando se hace clic en él */
}


 .row {
  margin-bottom: 40px;
}

