body {
 	background-color: black; 
 	color: #5C57B3; 
	font-family: "Sitka Text";
	font-size: 20px;
	margin-top: 30px;
	margin-left: 20px;
	

 	background-image: url("../images/nwn3.jpg");
	background-repeat: no-repeat;
 	background-position:right;
 	background-attachment: fixed;
 	background-size: 82%;

}



h1 {
  
	-webkit-text-stroke: 1px white;
  	color: #5C57B3;

	font-family: "Neverwinter";
	font-size: 70px; 
	left: 50%;
  
  	margin-top: 40px; 
  	margin-bottom: 70px; 
}

 .row {
  margin-bottom: 40px;
}


.boton {

	font-size: 25px;
  	font-family: "Neverwinter";
	margin-left: 100px;
}


div {
  position: absolute;
  left: 15%;
  transform: translate(-50%, 50%);
  width: 200px;
  height: 50px;
  font-family: "Neverwinter";
  font-size: 25px;
  margin-left: 50px;
}





a {
  color: #5C57B3; /* cambia el color del texto del enlace */
  text-decoration: none; /* quita la línea de abajo del texto del enlace */
}

a:visited {
  color: #5C57B3; /* cambia el color del texto del enlace visitado */
}

a:hover {
  color: #741C29; /* cambia el color del texto del enlace cuando el cursor se mueve sobre él */
}

a:active {
  color: #741C29; /* cambia el color del texto del enlace cuando se hace clic en él */
}


table {
  border-collapse: collapse;
  width: 25%;
  margin-left:50px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
	
}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: black;
	color:#5C57B3;
	font-size: 27px;
	
}

tr:nth-child(even) {
  background-color: black;
}


